@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure + p{
	text-indent: 0;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}
